*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/ThunderAtNight.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    color: #ffffffcd;
    display: flex;
}
.sidecontainer{
    height: 100%;
    width: 25%;
    /* background-color: rgba(96, 0, 0, 0.5); */
    backdrop-filter: blur(5px);
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    border-right: 1px solid #ffffff79;
}
.searchContainer{
    width: 80%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px 0;
}
.searchInput{
    width: 80%;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 10px;
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
.searchicon{
    height: 20px;
    width: 20px;
    cursor: pointer;
    position: absolute;
    right:13%;
}

/*main climate deatails like temp, rain details*/

.mainDataContainer{
    height: auto;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
h6{
    font-size: 1.5rem;
    font-weight: 200;
}
/*date styling*/
.dateTimeContainer{
    width: 100%;
    height: auto;
    padding: 5px;
    text-align: center;
    background-color: rgba(255,255,255,0.05);
    border-radius: 10px;
}
/*Temp styling*/
.tempContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(255, 140, 0); */
    padding: 10px;
    gap: 10px;
    background-color: rgba(255,255,255,0.05);
    border-radius: 10px;
}
.curTemp h6{
   font-size: 2.5rem;
   font-weight: 800;
}
.highLowTemp{
    display: flex;
    width: 100%;
    justify-content:space-around;
    align-items:center;
    padding: 0 10px;
}
.highLowTemp h6{
    font-size: 1rem;
    font-weight: 300;
}
.hr{
    border-bottom: 1px solid #fff;
    width: 30%;
}

/*Rain styling*/
.rainContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.05);
    border-radius: 10px;
    padding: 10px;
}
.chance{
    width: 50%;
    text-align: center;
    border-right: 1px solid #fff;
}
.chance h6{
    font-size: 1.3rem;
}
.chance .pop{
    padding: 9px 9px 0px 9px;
    text-align: start;
}
.chance .pop h6{
    font-size:2.4rem;
    font-weight: 700;
}
.amount{
    width: 50%;
    text-align: center;
}
.amount h6{
    font-size: 1.1rem;
}
.amount p{
    font-size: 0.8rem;
    font-weight: 0;
    color: rgba(255,255,255,0.5);
}
.amount .mm {
    padding: 9px 9px 0px 9px;
}
/* .amount .mm h6{
    font-size:1.7rem;
    font-weight: 700;
} */
.amount .mm h6 span{
    font-size: 1.5rem;
}
/*wind styling */
.windContainer{
    width: 100%;
    height: auto;
    padding: 10px;
}   
.windHeading{
    background-color: rgba(255,255,255,0.05);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
}
.windContent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.windSpeed{
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255,255,255,0.05);
    border-radius: 10px;
    /* padding: 10px; */
}
.windSpeed .mph .mph1{
    padding: 5px;
}
.windSpeed .mph .mph1 h6{
    font-size: 2rem;
}
.mph{
    display: flex;
    align-items: center;
    
}
.windSpeed .mph h6 {
font-size: 1rem;
}
.windDirection{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.05);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.windDirection h5{
    position: absolute;
   bottom: 90px;
   left: 22px;
   font-size: 1rem;
   font-weight: 300;
  
}
.windDirection #directionArrow{
    padding: 20px;
    text-align: center;
    transform: rotateZ(90deg);

}

/*Hero section*/
.herocontainer{
    width: 75%;
    height: 100%;
    /* background-color: #fff; */
  
}
.nav{
   padding: 10px;
   margin: 30px 40px;
}
.main{
    padding:10px;
    margin: 20px 30px;
    width: 100%;
    font-size: 2.5rem;
}
/* city content */
.content{
    display: inline-flex;
    align-items: center;
    margin: 0 40px;
    flex-direction: column;
    height: auto;
    width: auto;
    backdrop-filter: blur(20px);
    background-color: rgba(255,255,255,0.01);
    border-radius: 30px;
   padding: 30px;

}
.content #cityContent{
    font-size: 1rem;
    font-weight: 600;
}
.dataTable{
    border-spacing: 10px;
    /* padding: 10px; */
}
.dataTable td{
    font-size: 1.3rem;
}