@media screen and (max-width: 900px) {
    body{
        display: block ;
       background-size: cover;
       background-repeat: repeat-y;
    }
    .sidecontainer{
        width: 60%;
    }
     .forecast-grid {
        grid-template-columns: repeat(2, 1fr);
}
     .dayforecast-grid {
        grid-template-columns: repeat(2, 1fr);
}
}
@media screen and (max-width: 600px){
    .sidecontainer{
        width: 100%;
    }
    .main{
        font-size: 1rem;
    }
}
@media  screen and (max-width: 1200px) {
    .forecast-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
    }
    .dayforecast-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
    }
    
}
@media screen and (max-width:700px) {
    .forecast-grid {
        grid-template-columns: repeat(2, 1fr); /* 1 column for small screens */
    }
    .dayforecast-grid {
        grid-template-columns: repeat(2, 1fr); /* 1 column for small screens */
    }
}
@media screen and (max-width:450px) {
    .forecast-grid {
        grid-template-columns: repeat(1, 1fr); /* 1 column for small screens */
    }
    .dayforecast-grid {
        grid-template-columns: repeat(1, 1fr); /* 1 column for small screens */
    }
}