
@media screen and (max-width: 900px) {
    body{
        display: block;
       background-size: cover;
       background-repeat: repeat-y;
    }
    .sidecontainer{
        width: 100%;
    }
    .herocontainer{
        width: 100%;
    }
    .content{
        width: 40%;
    }
     /* .forecast-grid {
        grid-template-columns: repeat(5, 1fr);
}
     .dayforecast-grid {
        grid-template-columns: repeat(5, 1fr); */
}


@media screen and (max-width:700px) {
     .content{
        width: 60%;
    }
    .forecast-grid {
        
        grid-template-columns: repeat(3, 1fr); /* 1 column for small screens */
    }
    .dayforecast-grid {
        grid-template-columns: repeat(3, 1fr); /* 1 column for small screens */
    }
}

@media screen and (max-width: 600px){
    .sidecontainer{
        width: 100%;
    }
    .main{
        font-size: 1rem;
    }
    .content{
        width: 50%;
    }
}

@media screen and (max-width:450px) {
    .forecastResponsive{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .forecast{
        text-align: center;
    }
    .dayforecast{
        text-align: center;
    }
    .forecast-grid {
        grid-template-columns: repeat(1, 1fr); /* 1 column for small screens */
    }
    .dayforecast-grid {
        grid-template-columns: repeat(1, 1fr); /* 1 column for small screens */
    }
}